* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: #fff;
  }
  
  .navbar p {
    margin-left: 400px;
  }
  
  #recall {
    margin-right: 100px;
    text-decoration: underline;
  }
  
  .navbar .cart button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .container {
    max-width: 1920px;
    height: 100%;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .header .bar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #343a40;
    font-size: 18px;
  }
  
  .header .bar nav a:hover {
    text-decoration: underline;
  }
  
  .header .item {
    display: flex;
    align-items: center;
  }
  
  .header .item p {
    margin: 0;
    padding-right: 20px;
  }
  
  .header .store a {
    margin-left: 20px;
    color: #343a40;
    font-size: 20px;
  }
  
  .product-detail {
    display: flex;
    justify-content: center;
  }
  
  .product-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-width: 900px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #000;
  }
  
  .product-image {
    max-width: 300px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-info h3 {
    margin: 0;
    font-size: 24px;
    color: #343a40;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .new-price {
    font-size: 20px;
    color: #000;
    margin-right: 10px;
  }
  
  .old-price {
    font-size: 18px;
    color: grey;
    text-decoration: line-through;
  }
  
  .discount-price {
    font-size: 18px;
    color: #000;
  }
  
  .category,
  .rating,
  .description,
  .status {
    margin-top: 10px;
  }
  
  
  .add-to-cart-button {
    border: 1px solid #000;
    background-color: #fff;
  }
  
  .add-to-cart-button:hover {
    border: 1px solid #000;
    background-color: #454F5B;
    color: #fff;
  }